/* @link https://utopia.fyi/type/calculator?c=320,16,1.2,1240,24,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
   --step--2: clamp(0.6944rem, 0.6021rem + 0.4618vw, 0.96rem);
   --step--1: clamp(0.8333rem, 0.7058rem + 0.6377vw, 1.2rem);
   --step-0: clamp(1rem, 0.8261rem + 0.8696vw, 1.5rem);
   --step-1: clamp(1.2rem, 0.9652rem + 1.1739vw, 1.875rem);
   --step-2: clamp(1.44rem, 1.1257rem + 1.5717vw, 2.3438rem);
   --step-3: clamp(1.728rem, 1.31rem + 2.0899vw, 2.9297rem);
   --step-4: clamp(2.8736rem, 1.5211rem + 2.7626vw, 3.6621rem);
   --step-5: clamp(2.4883rem, 1.7616rem + 3.6336vw, 4.5776rem);
}