/*  COLLECTIONS  */

.grid-container-collections {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-template-rows: repeat(2, 250px);
   gap: 20px;
}



/* ?GRID */

.grid-container-collections {

   &>div {
      background-color: var(--no-existen-gray);
      cursor: pointer;
   }

   &>.winter-collection-container {
      grid-area: 1 / 1 / 2 / 3;
   }

   &>.watch {
      grid-area: 2 / 1 /3/ 2;
   }

   &>.bag {
      grid-area: 2 / 2 / 2 / 3;
   }

   &>.womens-collection-container {
      grid-area: 1 / 3 / 3 /-1;
   }
}


/* ?WINTER COLLECTION */

:is(.winter-collection-container,
   .womens-collection-container) {
   display: flex;
   justify-content: flex-start;

   position: relative;
}

:is(.winter-collection,
   .women-collection) {
   display: flex;
   flex-direction: column;

   margin-inline: auto;
}

.winter-collection-title,
.women-collection-title {
   color: var(--txt-blackish);
   font-size: 1.3rem;
   margin-top: auto;
   font-weight: 500;
}

:is(.winter-collection-description,
   .women-collection-description) {
   font-size: 2rem;
   font-weight: 600;
   margin-block: 10px 20px;
   text-wrap: nowrap;
}

:is(.winter-collection-button,
   .women-collection-button) {
   width: max-content;
   color: var(--txt-white);
   letter-spacing: .50px;
   background-color: var(--primary_color);
   box-shadow: var(--box-shadow_black);
   border: none;
   border-radius: 35px;
   padding: 12px 28px;

   margin-bottom: auto;
   cursor: pointer;

   &:hover {
      background-color: #b2afffe6;
   }
}

.winter-collection-img,
.women-collection-img {
   width: 270px;
   height: 100%;
   object-fit: cover;
}


/* ?COLLECTION */

.collection {
   height: 100%;
   object-fit: contain;
   margin-inline: auto;
}

/* ?WATCH */

.collection-watch {
   padding-block: 20px;
}

/* ?BAG */

.collection-bag {
   padding: 30px;
}











/* ?MEDIA QUERY */

@media (max-width: 1255px) {
   .grid-container-collections {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 250px 150px 150px;



      /* ?col row / col row */
      &>.winter-collection-container {
         grid-area: 1 / 1 / 2 / -1;
      }

      &>.watch {
         grid-area: 2 / 1 / 3 / 2;
      }

      &>.bag {
         grid-area: 3 / 1 / 4/ 2;
      }

      &>.womens-collection-container {
         grid-area: 2 / 2 / -1 /-1;
      }
   }
}

@media (max-width: 900px) {
   .grid-container-collections {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 250px 250px 150px;

      .women-collection-img,
      .winter-collection-img {
         object-fit: cover;
         width: 30%;
         height: 100%;
      }

      &>.winter-collection-container {
         grid-area: 1 / 1 / 2 / -1;
      }

      &>.watch {
         grid-area: 3 / 1 / -1 / 2;
      }

      &>.bag {
         grid-area: 3 / 2 / -1/ 2;
      }

      &>.womens-collection-container {
         grid-area: 2 / 1 / 3 /-1;
      }
   }
}