/* ?EMAIL */

.email-us {
   background-color: #f8f8f8;
   text-align: center;
   padding-block: 50px;

   &>h1 {
      color: var(--txt-gray);
      font-size: 2rem;
   }

   &>p {
      font-size: .9rem;
      color: var(--txt-gray);
      margin-inline: 10px;
      line-height: 25px;
      margin-block: 20px;
   }
}



.email-input-container {
   display: flex;
   align-items: center;
   justify-content: center;
}

.email-input-container input[type="text"] {
   width: clamp(200px, 90vw, 30vw);
   font-size: .9rem;
   padding: 15px 25px;
   border: none;
   border-radius: 50px 0 0 50px;
   box-shadow: var(--box-shadow_custom);
   transition: .15s;

   &::placeholder {
      color: var(--txt-moregray);
   }

   &:focus {
      outline: 2px solid var(--primary_color);
   }
}


.email-input-container button[type="submit"] {
   outline: 2px solid var(--primary_color);

   border-radius: 0 30px 30px 0;
   padding: 15px 15px 15px 15px;
   border: none;
   background-color: var(--primary_color);
   color: var(--txt-white);
   font-size: .9rem;
   box-shadow: var(--box-shadow_custom);
   transition: .15s;

   &:hover {
      background-color: #b2afffe6;
      cursor: pointer;
   }
}


/* ?SERVICES */
.footer-services {
   display: flex;
   justify-content: space-around;
   align-items: center;

   text-wrap: nowrap;
   flex-wrap: wrap;
   row-gap: 10px;
}

.footer-services img {
   width: 60px;
}

.footer-services>* {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-inline: 15px;

   &>h5 {
      font-size: clamp(.80rem, 1.1vw, 1.5rem);
      color: var(--txt-gray);
   }

   &>p {
      color: var(--txt-moregray);
      font-size: clamp(.55rem, .8vw, 1.5rem);
      font-weight: 500;
   }
}


/* ?FOOTER LINKS */

.footer-links-wrapper {
   width: 500px;
   display: flex;
   justify-content: space-between;
}


.footer-links {
   font-size: .8rem;
   color: var(--txt-light-black);
   background-color: #f8f8f8;
   padding-block: 30px;
   border-bottom: 1px solid rgba(0, 0, 0, 0.060);

   display: flex;
   justify-content: space-between;
   column-gap: 50px;
}

/* ?FIRST LINK */

.multiple-link:nth-child(1) {
   display: flex;
   flex-direction: column;
   row-gap: 25px;
}

.footer-shop {
   display: flex;
   align-items: center;

   &>.icon {
      width: 45px;
   }

   &>h5 {
      color: var(--txt-gray);
      font-size: 1.4rem;
      margin-left: 5px;
   }
}

.footer-description {
   width: 30ch;
   letter-spacing: .1px;
   margin-block: auto;
}

.footer-socials {
   font-size: 0;
}

.footer-socials i {
   width: 40px;
   height: 40px;

   color: var(--primary_color);
   font-size: 20px;
   text-align: center;
   padding: 10px;
   border-radius: 50%;
   background-color: var(--bg-white);
   cursor: pointer;
   margin-inline: 3px;

   transition: var(--primary-transition);


   &:hover {
      background-color: #b2afffe6;
      color: var(--txt-white);
   }
}

/* ?SECOND THIRD FOURTH LINK */

.multiple-link ul li {
   margin-block: 15px;
   list-style: none;

   &:nth-child(1) {
      font-weight: 650;
      color: var(--txt-gray);
   }

}


.multiple-link ul li:nth-child(1) {
   display: flex;
   justify-content: space-between;
   align-items: center;

   &>img {
      width: 20px;

      display: none;
   }
}



/* ?COPYRIGHT */

.copyright-container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: -40px;
   font-size: .7rem;
}

.terms-security-services {
   list-style: none;
   font-size: 0;

   &>li {
      font-size: .7rem;
      text-indent: 0;
      display: inline;
      margin-left: 30px;
      text-decoration: underline;
      cursor: pointer;
   }

   &>li:hover {
      color: var(--primary_color);
   }
}



@media only screen and (max-width: 850px) {



   .multiple-link ul li:not(:nth-child(1)) {
      display: none;
   }

   .multiple-link ul li:nth-child(1) {
      border-bottom: 1px solid rgba(0, 0, 0, 0.100);
   }

   .footer-links-wrapper {
      flex-flow: column;
   }

   .multiple-link ul li:nth-child(1) {
      &>img {
         display: block;
      }
   }
}