* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
}

body {
    padding-top: 40px;
    background-color: rgb(255, 255, 255);
    font-family: "Poppins", sans-serif;
    font-size: 16px;

    display: grid;
    grid-template-columns: [page-start] 1fr [content-start] 85vw [content-end] 1fr [page-end];
    gap: 100px;
}

/* ?GRID AREA */
header {
    grid-column: content;
}

main {
    grid-column: content;
    display: grid;
    gap: 200px;
}

footer {
    grid-column: content;
    display: grid;
    gap: 80px;
}

/* ?SELF HOSTING FONTS */

@font-face {
    font-family: 'seektruth';
    src: url('fonts/seek_truth/SeekTruth.ttf') format('opentype');
}

:root {

    display: flex;
    justify-content: center;

    /* ?TEXTCOLORSS */
    --txt-black: black;
    --txt-white: white;

    --txt-gray: #3e3e3e;
    --txt-blackish: #747474;
    --txt-moregray: #adadad;

    --txt-light-black: #3d3d3d;

    /* ?PRIMARY COLORS */
    --primary_color: #B1AFFF;
    --primary_nonexistent_color: #b2afff9e;

    /* ?BOX SHADOWS */
    --box-shadow_black: 0 0 20px rgba(96, 30, 30, 0.166);
    --box-shadow_custom: 0 0 20px rgba(96, 30, 30, 0.10);

    --drop-shadow-black: #b2afff9e;

    /* ?TEXT SHADOWS */
    --text-shadow: rgba(0, 0, 0, 0.3);

    /* ?BACKGROUND COLORS */
    --bg-white: rgb(255, 255, 255);
    --bg2-white: #C0D6E8;
    --notif-bg-color: #FA7070;
    --no-existen-gray: #f4f4f6;

    /* ?OTHERS */
    --dt1: #FF4191;
    --dt2: #3DC2EC;
    --dt3: #7D8ABC;

    --stars: rgb(255, 199, 108);

    --primary-transition: .15s;
}


/* ?QUERIES */

@media only screen and (max-width: 650px) {

    header .website-icon-name,
    nav .navigation-links {
        display: none;
        opacity: 0;
    }

    .burger-container .burger-nav {
        display: block;
    }

    .search-input {
        display: none;
    }

    .search-bar-container .submit-button {
        border-radius: 50%;
    }
}