* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
}

body {
    padding-block: 5vh 100px;
    background-color: rgb(255, 255, 255);
    font-family: Poppins;

    display: grid;
    grid-template-columns:
        [page-start] 1fr [content-start] 90vw [content-end] 1fr [page-end];

    &>header {
        grid-column: content;
    }

    &>main {
        grid-column: page;
        margin-top: 80px;

        display: grid;
        grid-template-columns:
            [mainpage-start] 1fr [maincontent-start] 5vw [main]87vw [main] 1fr [maincontent-end] 5vw [mainpage-end];
        row-gap: 200px;

        &>.homepage {
            grid-column: main;
        }

        &>.card-grid {
            grid-column: main;
        }

        &>.collections {
            grid-column: main;
        }
    }

    &>footer {
        grid-column: content;
        display: grid;
        gap: 80px;
    }
}





:root {

    display: flex;
    justify-content: center;

    /* ?TEXTCOLORSS */
    --txt-black: black;
    --txt-white: white;

    --txt-gray: #3e3e3e;
    --txt-blackish: #747474;
    --txt-moregray: #adadad;

    --txt-light-black: #3d3d3d;

    /* ?PRIMARY COLORS */
    --primary_color: #B1AFFF;
    --primary_color_hover: #b2afffe6;
    --primary_nonexistent_color: #b2afff9e;

    /* ?BOX SHADOWS */
    --box-shadow_black: 0 0 20px rgba(96, 30, 30, 0.166);
    --box-shadow_custom: 0 0 20px rgba(96, 30, 30, 0.10);

    --drop-shadow-black: #b2afff9e;

    /* ?TEXT SHADOWS */
    --text-shadow: rgba(0, 0, 0, 0.3);

    /* ?BACKGROUND COLORS */
    --bg-white: rgb(255, 255, 255);
    --bg2-white: #C0D6E8;
    --notif-bg-color: #FA7070;
    --no-existen-gray: #f4f4f6;

    /* ?OTHERS */
    --dt1: #FF4191;
    --dt2: #3DC2EC;
    --dt3: #7D8ABC;

    --stars: rgb(255, 199, 108);

    --primary-transition: .15s;
}


/* ?SELF HOSTING FONTS */

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/Poppins/Poppins-Regular.ttf') format('opentype')
}

/* ?QUERIES */
@media only screen and (max-width: 1200px) {

    header .website-icon-name,
    nav .navigation-links {
        display: none;
        opacity: 0;
    }

    .burger-container {

        &>.burger-nav {
            display: block;
        }
    }

    .homepage .right-homepage {
        display: none;
        opacity: 0;
    }


    .search-bar-container {
        margin-left: 20px;

        &>.search-input {
            width: 40vw;
        }
    }

    main .homepage {
        grid-template-columns: 1fr;
    }
}