/*  HEADER  */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* ?ICON */

.website-icon-name {
    display: flex;
    align-items: center;
    text-decoration: none;

    &>.icon {
        width: 50px;
        height: 50px;
    }

    &>.name {
        display: inline-block;
        font-size: 1.5rem;
        margin-left: 10px;
        color: var(--txt-black);
    }
}

header .burger-nav {
    font-size: 2rem;
    padding-block: 9px;
    color: var(--primary_color);
    display: none;
}

/* ?NAVIGATION LINKS */

nav {
    margin-inline: auto;
}

.navigation-links {
    display: flex;
    list-style: none;
}

.link {
    font-size: 1.2rem;
    margin-inline: 20px;
    cursor: pointer;

    position: relative;

    &::after {
        width: 0%;
        height: 4px;

        content: '';
        border-radius: 50px;
        background-color: var(--primary_color);

        position: absolute;
        bottom: -2px;
        left: 0;

        transition: .35s;
    }

    &:hover::after {
        width: 100%;
    }
}

.right-angle {
    font-size: .8rem;

    position: absolute;
    right: -15px;
    top: 25%;
}


/* ?SEARCH BAR */


.search-bar-container {
    display: flex;
}

.search-input {
    width: 0;
    width: 20vw;

    font-family: Poppins;
    font-size: 1rem;
    border: 2px solid var(--primary_nonexistent_color);
    border-right: none;
    border-radius: 40px 0 0 40px;
    padding: 0 0 0 30px;
    cursor: text;

    &:focus {
        color: var(--txt-black);
        outline: none;
        border: 2px solid var(--primary_color);
        border-right: none;
    }
}

.submit-button {
    border: 2px solid var(--primary_color);
    background-color: var(--primary_color);
    border-radius: 0 40px 40px 0;
    cursor: pointer;
    transition: background-color .15s;

    &:hover {
        background-color: #b2afffe6;
    }
}

.search-icon {
    padding: 10px;
    font-size: 20px;
    color: #ffffff;
}


/* ?CART */

.profile-container,
.cart-container {
    min-width: 45px;
    min-height: 45px;

    background-color: var(--primary_color);
    border-radius: 50%;
    margin-left: 5px;
    cursor: pointer;

    display: grid;
    place-content: center;

    position: relative;

    &>.cart {
        width: 30px;
        height: 30px;
    }

    transition: background-color .15s;

    &:hover {
        background-color: #b2afffe6;
    }
}

.cart-notif {
    background-color: var(--notif-bg-color);
    padding: 3px;
    font-size: .7rem;
    border-radius: 50%;
    color: var(--txt-white);

    position: absolute;
    right: 0;
    top: -5px;
}