/* ?PRODUCTS CONTAINER */

.pruducts-container {
   display: flex;
   flex-direction: column;
   gap: 30px;
}

.our-products {
   text-align: center;
   font-size: var(--step-2);
}

.products-navigation-bar {
   width: 100%;
   max-width: 500px;
   margin-inline: auto;
   font-size: 0;
   list-style: none;

   display: flex;
   align-items: center;
   justify-content: space-between;
}

.products-navigation-bar li {
   color: var(--txt-blackish);
   font-size: var(--step--2);
   text-wrap: nowrap;
   cursor: pointer;
   border-radius: 30px;
}

/* !FOR ACTIVE LINK */

.products-navigation-bar .active-link {
   background-color: var(--primary_color);
   box-shadow: var(--box-shadow_black);
   color: var(--txt-white);
   padding: .7em 3em;
   pointer-events: none;
}

/* ?GRID CONTAINER */

.grid-products-container {
   margin-top: 30px;

   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
   gap: 20px;
}

/* ?CARD STYLINGS */

.product-card {
   display: flex;
   flex-direction: column;
}

.product-image {
   width: 100%;
   height: 100%;
}

.product-sub-container {
   padding: 5px 5px 0 5px;
   display: grid;
   grid-template-columns: 1fr max-content;
   margin-top: 10px;
   flex: 1;
}

.product-description-container {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.product-name {
   font-size: .9rem;
   font-weight: 400;
}

.product-price-stars-container {
   max-height: max-content;

   display: flex;
   align-items: center;
}

.product-price {
   font-size: .8rem;
   font-weight: 600;
   color: var(--primary_color);

   &>s {
      color: var(--txt-blackish);
   }
}

.product-stars-container {
   margin-inline: auto;
   font-size: 0;

   &>.stars {
      color: var(--stars);
      font-size: .7rem;
      margin-left: 2px;
   }
}

.product-cart-icon-container {
   width: 40px;
   height: 40px;
   background-color: var(--primary_color);
   border: none;

   display: grid;
   place-content: center;
   border-radius: 50%;

   &>.cart {
      width: 28px;
   }

}



/* ?DOTS CURRENT PAGE */

.dots-page {
   margin-inline: auto;
   color: var(--bg-white);
   font-size: .6rem;
}

.dots-page i {
   box-shadow: var(--box-shadow_black);
   border-radius: 50%;
   color: rgb(228, 228, 228);
   cursor: pointer;
}

.dots-page .active {
   color: var(--primary_color);
}


/* ?SALE */

.grid-products-container>* {
   position: relative;
}

.grid-products-container>*.sale::after {
   content: 'sale';
   position: absolute;
   left: 0;
   top: 10px;

   color: var(--txt-white);
   font-size: .7rem;
   background-color: var(--notif-bg-color);
   padding: 2px 10px;

}













/* ?MEDIA QUERY */

@media (max-width: 500px) {

   .products-navigation-bar {
      margin-top: -10px;
      margin-bottom: -30px;
   }

   /* .products-navigation-bar .active-link {} */
}

@media (max-width: 850px) {
   .grid-products-container {
      grid-template-columns: repeat(2, 1fr);
   }
}