.card-grid {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
   gap: 30px;



   box-shadow: var(--box-shadow_custom);
   border-radius: 5px;
   padding: 20px;
}


.cards-title {
   color: var(--txt-black);
   text-shadow: 2px 2px 5px var(--text-shadow);
   grid-column: 1/ -1;
   text-align: center;

   font-size: 1.8rem;
}

.card {
   background-color: var(--bg-white);
   box-shadow: var(--box-shadow_custom);

   display: flex;
   flex-direction: column;
}

.sub__card {
   flex: 1;
   display: flex;
   flex-direction: column;

   padding-inline: 20px;
   padding-block: 0 20px;
   text-align: left;
   margin-top: 15px;
}

/* ?CARD IMAGE */

.card_img {
   width: 100%;
   height: 270px;
   object-fit: fill;
   object-position: top;

   box-shadow: inset var(--box-shadow_black);
}

/* ?CARD DESC */

.card__sub-title {
   color: var(--txt-blackish);
   font-size: .7rem;
   font-weight: 700;
}

.card__title {
   color: var(--txt-black);
   font-weight: 700;
   font-size: 1.2rem;
   margin-block: 2px 9px;
}

.price-stars-container {
   display: flex;
   align-items: center;
}

.card__price {
   color: var(--primary_color);
   font-weight: 600;
}

.prev-price {
   color: var(--txt-blackish);
}

.card__stars {
   font-size: 0px;
}