.card-grid {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
   gap: 30px;
   box-shadow: var(--box-shadow_custom);
   padding: 20px;
}


.cards-title {
   grid-column: 1/ -1;

   font-family: Poppins;
   font-size: var(--step-2);

   text-align: center;
   color: var(--txt-black);
}

.card {
   background-color: var(--bg-white);
   box-shadow: var(--box-shadow_custom);

   display: flex;
   flex-direction: column;
}

/* ?CARD IMAGE */

.card_img {
   width: 100%;
   height: 270px;
   object-fit: fill;
   object-position: top;

   box-shadow: inset var(--box-shadow_black);
}

/* ?SUB CARD */

.sub__card {
   padding: 10px;
   text-align: left;
}



/* ?CARD DESC */

.card__sub-title {
   color: var(--txt-blackish);
   font-size: .6rem;
   font-weight: 700;
}

.card__title {
   color: var(--txt-black);
   font-weight: 700;
   font-size: 1rem;
}

.price-stars-container {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.card__price {
   color: var(--primary_color);
   font-size: .9rem;
   font-weight: 600;
}

.prev-price {
   color: var(--txt-blackish);
}

.card__stars {
   font-size: 0px;

   &>i {
      font-size: .7rem;
      color: var(--stars);
   }
}